/* Per telefono (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: #697565;
  }
  .container-nav {
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
    width: 100%;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navbar-center {
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.1rem;
  }
  .navbar-center a {
    font-size: 1.6rem;
    padding: 0.4rem;
  }
  .navbar-icons {
    display: none;
  }

  .Pp-foto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -1.6rem;
    margin-bottom: 0.5rem;
  }

  .Pp-foto img {
    width: 10rem;
    height: 10rem;
  }

  .main-info h1 {
    font-size: 2.4rem;
  }

  .main-info h2 {
    font-size: 1.8rem;
  }

  .main-info p {
    font-size: 1.4rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  .container-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding: 0.8rem;
  }
  .main-info span {
    color: rgb(69, 69, 62);
    font-size: 1.4rem;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-c {
    font-size: 1.6rem;
    color: #1e201e;
    background-color: #eb5b00;
    border: none;
    padding: 1.2rem 2.4rem;
    border-radius: 0.8rem;
    cursor: pointer;
    color: #ecdfcc;
    font-weight: bold;
    margin-bottom: 3.6rem;
  }

  .btn-c:hover {
    background-color: #d8b98b;
    color: #eb5b00;
  }
}

/* Per Tablet */
@media (min-width: 769px) and (max-width: 1200px) {
  body {
    background-color: #629584;
  }
  .container-nav {
    flex-direction: row;
    padding: 2.4rem 3.2rem;
    align-items: center;
  }

  .logo {
    width: 15%;
  }

  .navbar-center a {
    width: 100%;
    font-size: 1.4rem;
    padding: 0.6rem;
  }

  .navbar-icons {
    width: 20%;
  }

  .navbar-icons a {
    color: #243642;
  }

  .Pp-foto img {
    width: 18rem;
    height: 18rem;
  }

  .container-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-info h1 {
    font-size: 3.2rem;
    width: 100%;
  }

  .main-info h2 {
    font-size: 2.4rem;
    width: 100%;
  }

  .main-info p {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-align: center;
  }

  .main-info span {
    margin-top: -2rem;
    font-size: 1.6rem;
    color: #515450;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-c {
    font-size: 1.6rem;
    color: #1e201e;
    background-color: #eb5b00;
    border: none;
    padding: 1.2rem 2.4rem;
    border-radius: 0.8rem;
    cursor: pointer;
    color: #ecdfcc;
    font-weight: bold;
    margin-bottom: 4.2rem;
  }

  .btn-c:hover {
    background-color: #d8b98b;
    color: #eb5b00;
  }

  .container-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding: 0.8rem;
  }
}

/* per PC */
@media (min-width: 1200px) {
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.6rem;
  }
  .btn-c {
    font-size: 1.6rem;
    color: #1e201e;
    background-color: #eb5b00;
    border: none;
    padding: 1.2rem 2.4rem;
    border-radius: 0.8rem;
    cursor: pointer;
    color: #ecdfcc;
    font-weight: bold;
    margin-bottom: 3.6rem;
  }

  .btn-c:hover {
    background-color: #d8b98b;
    color: #eb5b00;
  }

  .container-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding: 0.8rem;
  }
}
