/* Navbar */
.container-nav{
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  padding-top: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  width: 100%;
}

.logo{
  width: 20%;

}
.logo img{
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  cursor: pointer;
}

.navbar-center a{
  width: 80%;
  text-decoration: none;
  text-align: center;
  color: #1E201E;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 1.2rem;
}

.navbar-center a:hover{
  color: #ECDFCC;
  background-color: #697565;
  border-radius: 0.8rem;
}

.navbar-icons{
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.navbar-icons a:hover{
  color: #fb9a09;
  border-radius: 0.8rem;
}

/* Navbar finito */

/* Main info */

.container-main{
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1fr;
}

.Pp-foto{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.Pp-foto img{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-top: 2.4rem;
}



.main-info{
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.main-info h1{
  font-size: 3.2rem;
  color: #1E201E;
  margin-bottom: 1.2rem;
}

.main-info h2{
  font-size: 2.4rem;
  color: #1E201E;
  margin-bottom: 0.8rem;
}

.main-info p{
  font-size: 1.6rem;
  color: #252825;
  margin-bottom: 1.2rem;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}

.main-info span{
  font-size: 1.6rem;
  color: #697565;
  margin-bottom: 1.8rem;
  display: block;
  cursor: pointer;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.8rem;
}
.btn-c{
  font-size: 1.6rem;
  color: #1E201E;
  background-color: #EB5B00;
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  cursor: pointer;
  color: #ECDFCC;
  font-weight: bold;
}

.btn-c:hover {
  background-color: #d8b98b;
  color: #EB5B00;
}


.footer{
  position: relative;
  margin-top: auto;
}

.container-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #1E201E;
  color: #ECDFCC;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.container-footer p{
  font-size: 1.2rem;
  color: #ECDFCC;
  
}
.page-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}